<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">
    <h1>
        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.list"/>
    </h1>

    <f:flashMessages />

    <f:link.action action="new">
        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.new"/>
    </f:link.action>

    <table class="bibsonomycsl_be_table">
        <tr>
            <th>
                <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.userName"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.hostAddress"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.oAuthEnabled"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.actions"/>
            </th>
            <th></th>
        </tr>
        <f:for each="{authentications}" as="authentication">
            <tr>
                <td>
                    {authentication.userName}
                </td>
                <td>
                    {authentication.hostAddress}
                </td>
                <td>
                    {authentication.oAuthEnabled}
                </td>
                <td>
                    <f:link.action action="edit" arguments="{authentication : authentication}">
                        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.edit"/></f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{authentication : authentication}">
                        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.delete"/></f:link.action>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>
</html>
