<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">
    <h1>
        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.new"/>
    </h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="create" name="newAuthentication" object="{newAuthentication}">
        <f:render partial="Authentication/FormFields" arguments="{hosts: hosts}"/>
        <f:form.submit value="{f:translate(key: 'LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.save')}" />
    </f:form>
</f:section>
</html>
