<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Publication:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

{namespace bibsonomy = AcademicPuma\BibsonomyCsl\ViewHelpers}

<f:section name="content">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bibsonomy-style.css')}" />

    <f:flashMessages />

    <div class="bibsonomy-info">

    </div>

    <f:for each="{posts}" as="post">
        <div class="bibsonomy-post">
            <div class="bibsonomy-citation">
                <bibsonomy:Citation post="{post}" stylesheet="apa" lang="de-DE"/>
            </div>
            <div class="bibsonomy-extra">

            </div>
            <div class="bibsonomy-links">
                <ul class="bibsonomy-inline-list">

                    <bibsonomy:Snippet post="{post}" type="bibtex" />
                    <bibsonomy:Link post="{post}" type="host" />
                    <bibsonomy:Link post="{post}" type="doi" />
                    <bibsonomy:Link post="{post}" type="urn" />
                </ul>
            </div>
        </div>
    </f:for>

</f:section>
</html>
