<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<label for="name">
    <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.name"/>
    <i class="required">
        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
    </i>
</label>

<br/>

<f:form.textfield property="name"/>

<br/>

<label for="xmlSource">
    <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.xmlSource"/>
    <i class="required">
        <f:translate key="LLL:EXT:bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
    </i>
</label>

<br/>

<f:form.textarea property="xmlSource" rows="15" cols="60" placeholder="XML"/>

<br/>

</html>