.bibsonomy-posts {
    list-style-type: none;
    padding: 0;
}

.bibsonomy-post {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bibsonomy-citation {
    font-size: 1.0em;
}

.bibsonomy-citation-thumbnail {
    margin-left: 75px;
}

.bibsonomy-citation span.csl-title {
    font-weight: bold;
}

.bibsonomy-notes {
    font-style: italic;
}

.bibsonomy-links {
    width: 100%;
}

.bibsonomy-links-list {
    float: right;
}

.bibsonomy-inline-list {
    list-style-type: none;
    padding: 0;
}

.bibsonomy-inline-list > li {
    display: inline-block;
    font-size: 1.1em;
    line-height: 2em;
    margin-left: 1.5em;
}

.bibsonomy-snippets {
    margin-top: 10px;
}

.bibsonomy-snippet {
    margin-bottom: 1em;
    padding: 0.5em 0 1em 1em;
    border-left: #ccc 1px solid;
    display: none;
}

.bibsonomy-snippet > textarea {
    width: 100%;
    resize: none;
}

.bibsonomy-thumbnail {
    background-color: #efefef;
    border: #ccc 1px solid;
    border-radius: 2px;
    padding: 3px;
    margin-right: 10px;
    display: block;
    overflow: hidden;
    width: 65px;
    float: left;
}

.bibsonomy-group-header {
    border-bottom: 1px solid #2d2c2c;
}

.bibsonomy-group-name {
    font-size: 1.5em;
}

.bibsonomy-group-jumper {
    font-size: 1.0em;
    float:right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
